<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>类目</title>
    <link rel="stylesheet" href="/css/buttons.css"/>
</head>
<body>
<div>
    <h2 align="center">欢迎来到类目中心👏</h2>
</div>
<div>
    <span th:each="title: ${titleList}"><a th:text="${title}" th:href="@{/content(title=${title})}" class="button"
                                           style="margin-bottom: 15px;"></a>&nbsp;</span>
</div>
<script src="/js/customer.js"></script>
</body>
</html>